.App {
  text-align: center;
}

body {
  background: rgba(252, 252, 252, 0.99);
  padding-bottom: 2em;
}

#title {
  text-align: center;
  font-size: 4.5em;
  -webkit-text-stroke: 5px #416CB0;
  -webkit-text-fill-color: #F8CC47;
  color: #F8CC47;
  font-family: 'Luckiest Guy', cursive;
  margin-bottom: 0;
  margin-top: .5em;
}

main {
  display: flex;
  align-content: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.pokemon-list {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 3.5em 7em 3.5em 7em;
}

.pokemon-list-element {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  background: white;
  width: 15em;
  height: 18em;
  margin: 1em;
  border-radius: 1em;
  padding: 1em;
  -webkit-box-shadow: 8px 8px 26px -16px rgba(0, 0, 0, 0.59);
  -moz-box-shadow: 8px 8px 26px -16px rgba(0, 0, 0, 0.59);
  box-shadow: 8px 8px 26px -16px rgba(0, 0, 0, 0.59);
  border: transparent solid 2px;
  cursor: pointer;
}

.pokemon-list-element:hover {
  border: red solid 2px;
  -webkit-box-shadow: 8px 8px 26px -11px rgba(0, 0, 0, 1);
  -moz-box-shadow: 8px 8px 26px -11px rgba(0, 0, 0, 1);
  box-shadow: 8px 8px 26px -11px rgba(0, 0, 0, 1);
}

.pokemon-name {
  font-size: 1.5em;
}

.more-button {
  font-size: 2em;
  border-radius: .5em;
  padding: .4em;
  cursor: pointer;
  text-transform: uppercase;
  background-color: transparent;
  color: #FF1616;
  border: #FF1616 solid 3px;
}

.more-button:hover, .more-button:active {
  background-color: #FF1616;
  color: white;
}

.loading-container {
  margin: auto;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: space-around;
  justify-self: center;
}

.loading-circle {
  display: block;
  width: .8rem;
  height: .8rem;
  background-color: #F8CC47;
  border-radius: 0.5rem;
}

.modal-background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  top: 0;
}

.modal-content {
  background-color: white;
  padding: 1em;
  border-radius: .5em;
  -webkit-box-shadow: 8px 8px 26px -11px rgba(0, 0, 0, 1);
  -moz-box-shadow: 8px 8px 26px -11px rgba(0, 0, 0, 1);
  box-shadow: 8px 8px 26px -11px rgba(0, 0, 0, 1);
}

.modal-header {
  width: 100%;
  text-align: end;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 2em;
  text-transform: capitalize;
  margin-bottom: .5em;
}

.close-btn-modal {
  display: block;
  cursor: pointer;
  text-align: end;
  float: right;
  margin-left: 1em;
  margin-top: -.7em;
  margin-right: -.2em;
}

.close-btn-modal:hover {
  color: red;
}

.modal-body {
  font-size: 1.5em;
}

.more-info {
  display: flex;
  align-items: center;
}

.more-info span {
  margin-right: .5em;
  color: #416CB0;
}

#type-list {
  width: fit-content;
}

.mode-toggle {
  cursor: pointer;
  justify-self: flex-end;
  float: right;
  margin-right: 2em;
  color: darkgray;
}

.mode-toggle span {
  font-size: 3em;
}